[submodule "workspaces/github_devops/tarraform-iac-practice"]
	path = workspaces/github_devops/tarraform-iac-practice
	url = git@github.com:maomaoliu/tarraform-iac-practice.git
[submodule "workspaces/github_dotnet/semantic-kernel"]
	path = workspaces/github_dotnet/semantic-kernel
	url = git@github.com:microsoft/semantic-kernel.git
[submodule "workspaces/github_golang/adcli"]
	path = workspaces/github_golang/adcli
	url = git@github.com:Anddd7/adcli.git
[submodule "workspaces/github_golang/clash"]
	path = workspaces/github_golang/clash
	url = https://github.com/Dreamacro/clash.git
[submodule "workspaces/github_golang/dapr"]
	path = workspaces/github_golang/dapr
	url = git@github.com:dapr/dapr.git
[submodule "workspaces/github_golang/dapr_demo"]
	path = workspaces/github_golang/dapr_demo
	url = git@github.com:whiteducksoftware/dapr-demo.git
[submodule "workspaces/github_golang/dapr_quickstarts"]
	path = workspaces/github_golang/dapr_quickstarts
	url = git@github.com:dapr/quickstarts.git
[submodule "workspaces/github_golang/dapr_samples"]
	path = workspaces/github_golang/dapr_samples
	url = git@github.com:dapr/samples.git
[submodule "workspaces/github_golang/go-http-tunnel"]
	path = workspaces/github_golang/go-http-tunnel
	url = https://github.com/mmatczuk/go-http-tunnel.git
[submodule "workspaces/github_golang/go-shadowsocks2"]
	path = workspaces/github_golang/go-shadowsocks2
	url = https://github.com/shadowsocks/go-shadowsocks2.git
[submodule "workspaces/github_golang/goproxy"]
	path = workspaces/github_golang/goproxy
	url = https://github.com/snail007/goproxy.git
[submodule "workspaces/github_golang/gost"]
	path = workspaces/github_golang/gost
	url = https://github.com/ginuerzh/gost.git
[submodule "workspaces/github_golang/h2conn"]
	path = workspaces/github_golang/h2conn
	url = https://github.com/posener/h2conn.git
[submodule "workspaces/github_golang/istio"]
	path = workspaces/github_golang/istio
	url = git@github.com:istio/istio.git
[submodule "workspaces/github_golang/kube-peering"]
	path = workspaces/github_golang/kube-peering
	url = git@github.com:Anddd7/kube-peering.git
[submodule "workspaces/github_golang/kubernetes"]
	path = workspaces/github_golang/kubernetes
	url = git@github.com:kubernetes/kubernetes.git
[submodule "workspaces/github_golang/kubevpn"]
	path = workspaces/github_golang/kubevpn
	url = git@github.com:wencaiwulue/kubevpn.git
[submodule "workspaces/github_golang/minikube"]
	path = workspaces/github_golang/minikube
	url = git@github.com:kubernetes/minikube.git
[submodule "workspaces/github_golang/nocalhost"]
	path = workspaces/github_golang/nocalhost
	url = git@github.com:nocalhost/nocalhost.git
[submodule "workspaces/github_golang/playground-k8s-crd"]
	path = workspaces/github_golang/playground-k8s-crd
	url = git@github.com:Anddd7/playground-k8s-crd.git
[submodule "workspaces/github_golang/simple-vpn"]
	path = workspaces/github_golang/simple-vpn
	url = https://github.com/skx/simple-vpn.git
[submodule "workspaces/github_golang/telepresence"]
	path = workspaces/github_golang/telepresence
	url = https://github.com/telepresenceio/telepresence.git
[submodule "workspaces/github_golang/terraform-provider-alicloud"]
	path = workspaces/github_golang/terraform-provider-alicloud
	url = git@github.com:aliyun/terraform-provider-alicloud.git
[submodule "workspaces/github_golang/v2ray-core"]
	path = workspaces/github_golang/v2ray-core
	url = https://github.com/v2fly/v2ray-core.git
[submodule "workspaces/github_golang/water"]
	path = workspaces/github_golang/water
	url = https://github.com/songgao/water.git
[submodule "workspaces/github_java/archguard"]
	path = workspaces/github_java/archguard
	url = git@github.com:archguard/archguard.git
[submodule "workspaces/github_java/archguard_codedb-poc"]
	path = workspaces/github_java/archguard_codedb-poc
	url = git@github.com:archguard/codedb-poc.git
[submodule "workspaces/github_java/archguard_registry"]
	path = workspaces/github_java/archguard_registry
	url = git@github.com:archguard/registry.git
[submodule "workspaces/github_java/auto-dev"]
	path = workspaces/github_java/auto-dev
	url = https://github.com/unit-mesh/auto-dev.git
[submodule "workspaces/github_java/devti"]
	path = workspaces/github_java/devti
	url = https://github.com/unit-mesh/devti.git
[submodule "workspaces/github_java/unit-mesh"]
	path = workspaces/github_java/unit-mesh
	url = https://github.com/unit-mesh/unit-mesh.git
[submodule "workspaces/github_java/unit-runtime"]
	path = workspaces/github_java/unit-runtime
	url = https://github.com/unit-mesh/unit-runtime.git
[submodule "workspaces/github_node/anddd7-blog-2"]
	path = workspaces/github_node/anddd7-blog-2
	url = git@github.com:Anddd7/anddd7.github.io.git
[submodule "workspaces/github_node/awesome-resume"]
	path = workspaces/github_node/awesome-resume
	url = git@github.com:Anddd7/awesome-resume.git
[submodule "workspaces/github_node/click-prompt"]
	path = workspaces/github_node/click-prompt
	url = git@github.com:prompt-engineering/click-prompt.git
[submodule "workspaces/github_node/cloud-native-engineering"]
	path = workspaces/github_node/cloud-native-engineering
	url = git@github.com:Anddd7/cloud-native-engineering.git
[submodule "workspaces/github_node/excalidraw"]
	path = workspaces/github_node/excalidraw
	url = git@github.com:Anddd7/excalidraw.git
[submodule "workspaces/github_node/prompt-patterns"]
	path = workspaces/github_node/prompt-patterns
	url = git@github.com:prompt-engineering/prompt-patterns.git
[submodule "workspaces/github_node/vue3-realworld-example-app"]
	path = workspaces/github_node/vue3-realworld-example-app
	url = https://github.com/mutoe/vue3-realworld-example-app.git
[submodule "workspaces/github_python/llama_index"]
	path = workspaces/github_python/llama_index
	url = git@github.com:jerryjliu/llama_index.git
[submodule "workspaces/github_python/llm-logseq-reader"]
	path = workspaces/github_python/llm-logseq-reader
	url = git@github.com:Anddd7/llm-logseq-reader.git
[submodule "workspaces/github_python/myGPTReader"]
	path = workspaces/github_python/myGPTReader
	url = git@github.com:madawei2699/myGPTReader.git
[submodule "workspaces/github_python/sk-logseq-extractor"]
	path = workspaces/github_python/sk-logseq-extractor
	url = git@github.com:Anddd7/sk-logseq-extractor.git
[submodule "workspaces/github_python/unit-minions"]
	path = workspaces/github_python/unit-minions
	url = git@github.com:unit-mesh/unit-minions.git
