# this is a template for git config in windows host
# used to fetch common resources from github

[user]
name = Anddd7
email = liaoad_space@sina.com
[init]
defaultBranch = main
[core]
autocrlf = input
[credential]
helper = store

[http]
proxy = http://代理服务器地址:代理端口
[https]
proxy = http://代理服务器地址:代理端口

[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f
