# this is a template for git config in wsl
# for most coding, you should use wsl to do it

[user]
name = Anddd7
email = anddd7@icloud.com
[init]
defaultBranch = main
[core]
autocrlf = input
excludesfile = ~/.gitignore_global
hooksPath = ~/.githooks_global
[credential]
helper = store

# [http]
# proxy = http://proxy:port
# [https]
# proxy = http://proxy:port

[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f

# special project config if needed

[includeIf "gitdir:~/workspaces/workspaces/project_abcd/"]
path = ~/workspaces/workspaces/project_abcd/.gitconfig
